<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="search">
        <ul>
            <li v-for="(item,index) in fillterPerson" :key="index">
                {{index}}---{{item.name}}----{{item.age}}
            </li>
        </ul>
        <button @click="setOrderType(1)">升序</button>
        <button @click="setOrderType(2)">降序</button>
        <button @click="setOrderType(0)">还原</button>
    </div>
    <script src="D:\vue课程练习\vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                search:'',
                orderType:0,//0代表原本顺序，1代表升序，2代表降序
                person:[
                    {name:'qsy',age:28},
                    {name:'yy',age:30},
                    {name:'wzq',age:29},
                    {name:'zck',age:28},
                ]
            },
            computed: {
                fillterPerson(){
                    //取出所有相关的数据
                    const {search,person,orderType} = this;
                    //最终需要显示的数组
                    let fPerson;
                    //对person进行过滤
                    fPerson =  person.filter(p=>{
                       return p.name.indexOf(search)!==-1
                    });
                    //排序
                    if(orderType!=0){
                        fPerson.sort(function(p1,p2){
                        if(orderType===2){
                            return p2.age-p1.age
                        }else {
                            return p1.age-p2.age
                        }
                           
                        })
                    }
                    return fPerson
                }
            },
            methods: {
                setOrderType(index){
                    this.orderType = index;
                }
            },
        })
    </script>
</body>
</html>